	<h3 >Cálculo da nota do Vestibular Fatec</h3>
	<div ng-controller="CalcCtrl" class="calculadora_paramentros" >
		
		<div class="row">
			<form name="FormInstCurPer">
				<div class="col-md-12 bloco quadro_questoes">
					<div class="input-group">
					  <span class="input-group-addon" ng-class="{ 'has-error' : qtde_peso1.$invalid && !qtde_peso1.$pristine }">
						<span style="font-weight:bold;" >Questões Peso 1</span>
						<input type="number" min="0"  max="44" ng-maxlength="2" name="qtde_peso1" class="form-control" aria-label="..." ng-model="qpeso1"/> 
						<p ng-show="qtde_peso1.$invalid && !qtde_peso1.$pristine" class="help-block">Username no máximo 2 caracteres.</p>
					  </span>
					
					 <span class="input-group-addon">
					   <span style="font-weight:bold;">Questões Peso 2</span>
						 <input type="number" min="0" max="10" ng-maxlength="2" name="qtde_peso2"  class="form-control" aria-label="..." ng-model="qpeso2" />
					  </span>
					</div>
			   </div><!-- /.col-lg-6 -->					   

				<!--div class="col-md-12 bloco">
					<div class="input-group-item">
					  <span class="input-group-addon">
						<span  style="font-weight:bold;">Estimativa Nota da Redação</span>
						<input type="number" class="form-control" aria-label="..." ng-model="redacao" min="0" max="100" ng-maxlength="300" /> 
					  </span>
					</div>
			   </div--><!-- /.col-lg-6 -->	
			   
				<div class="list-group col-md-12 bloco">
				   <div class="list-group-item active cabecalho-listagem">
					  <h4 class="list-group-item-heading">
						 Estimativa Nota da Redação
					  </h4>
				   </div>
				   <div class="list-group-item">
					  <h4 class="list-group-item-heading">
						 <input type="number" class="form-control" aria-label="..." ng-model="redacao" min="0" max="100" ng-maxlength="300" /> 
					  </h4>
					  <p class="list-group-item-text">
						 Pontuação máxima 100.
					  </p>
				   </div>

				</div>			   
				   
			  <div class="col-md-12 bloco">
				<div class="input-group">
				  <span class="input-group-addon">
					<input type="checkbox" aria-label="..." ng-model="enem" ng-init="checked=false" /> Utilizar Enem
				  </span>
				  <input type="number" class="form-control" aria-label="..." ng-model="nota_enem" min="0" max="1000"  ng-disabled="!enem" />
				</div><!-- /input-group -->
			  </div><!-- /.col-lg-6 -->
	
				<div class="list-group col-md-12 bloco">
				   <div class="list-group-item active cabecalho-listagem">
					  <h4 class="list-group-item-heading">
						 Sistema de Pontuação Acrescida
					  </h4>
				   </div>
				   <div class="list-group-item">
					  <h4 class="list-group-item-heading">
						 <input type="checkbox" aria-label="..." ng-model="afrodescendencia" /> Afrodescendência
					  </h4>
					  <!--p class="list-group-item-text">
						 You will get a free domain registration with website pages.
					  </p-->
				   </div>
				   <div class="list-group-item">
						<h4 class="list-group-item-heading">
							<input type="checkbox" aria-label="..." ng-model="escola_publica"/> Escolaridade Pública
						</h4>						
					    <!--p class="list-group-item-text">We provide 24*7 support.</p-->
				   </div>
				</div>
				<div class="col-md-12 bloco">
				 <div >
					<button type="button" class="btn btn-danger btn-lg btn-block" ng-click="CalcularNota()"  >Calcular</button>
				  </div>
				</div>		
				<!--div class="col-md-12 bloco">
					<div class="input-group">
					  <span class="input-group-addon">
						<span style="font-weight:bold;">Estimativa da Nota</span>
						<input type="text" class="form-control" aria-label="..." ng-model="resultado"  /> 
					  </span>
					</div>
			   </div--><!-- /.col-lg-6 -->		
			   
				<div class="list-group col-md-12 bloco">
				   <div class="list-group-item active cabecalho-listagem">
					  <h4 class="list-group-item-heading">
						  Estimativa da Nota
					  </h4>
				   </div>
				   <div class="list-group-item">
					  <h4 class="list-group-item-heading">
						 <input type="text" class="form-control" aria-label="..." ng-model="resultado" disabled  /> 
					  </h4>
					  <!--p class="list-group-item-text">
						Boa Sorte =)
					  </p-->
				   </div>

				</div>		

		<p>
			<button type="button" class="btn btn-primary btn-sm  active"  ng-click="getInclude('instituicao')"> &laquo; Escolher outra Instituição</button>
			<!--button type="button" class="btn btn-primary btn-lg btn-block active" ng-model="includeFrag2" ng-include="includeFrag2 ? 'template2.html' : 'includes/instituicao_curso_periodo.html'">AVANÇAR</button-->
			
		</p>
			
	</form>  
		</div><!-- /.row -->

	</div>
<!--http://jsfiddle.net/scyrizales/mUJhL/-->



	
	
<!--section class="col-md-8 left-col">
http://stackoverflow.com/questions/15974086/conditional-ng-include-in-angularjs
    <span ng-if = "LIST">
        <div data-ng-include="'./app/view/articles/listarticle.html'">
    </span>
    <span ng-if = "EDIT">
        <div data-ng-include="'./app/view/articles/editorarticle.html'">
    </span>

</section-->	