	<div class="instituicao-curso-periodo">
		<p class="instituicao">
			<label>Fatec</label>
			<select class="selectBox form-control" ng-init="selectedCurso=0" ng-model="selectedFatec" ng-options="fatecInst.cod_instituicao as fatecInst.fatec for fatecInst in Fatecs ">
				<option value="" >Selecione...</option>
			</select>
			<!--{{selectedFatec}}-->
			<input type="hidden" ng-model="selectedFatec" />
		</p>
							
		<p class="curso_instituicao"> 
			<label>Curso</label>
			<select class="selectBox form-control" ng-model="selectedCurso"  ng-options="cur.cod_curso as cur.curso for cur in Cursos | filter:{cod_instituicao:selectedFatec}:true | unique:'cod_curso' ">
				<option value="" style="background:gray;"><strong>Selecione...</strong></option>
			</select>
			<input type="hidden" ng-model="selectedCurso" />
		</p>
			
		<p class="periodo_curso_intituicao">
			<label>Período</label>
			<select class="selectBox form-control"  ng-model="selectedPeriodo"  ng-options="per.periodo as per.periodo for per in Cursos | filter:{cod_curso:selectedCurso}:true | filter:{cod_instituicao:selectedFatec}:true ">
				<option value="" >Selecione...</option>
			</select>   
		</p>					
						
	</div>				
	<p>
		<button type="button" class="btn btn-primary btn-lg btn-block active" ng-click="getInclude('calculadora')" >AVANÇAR</button>
		<!--button type="button" class="btn btn-primary btn-lg btn-block active" ng-model="includeFrag2" ng-include="includeFrag2 ? 'template2.html' : 'includes/instituicao_curso_periodo.html'">AVANÇAR</button-->
		
	</p>